section.aboutus {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(34.2deg, #b9f3bf 50%, white 50%);
}

div.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 700px;
  box-shadow: 25px 25px 25px gray;
  background-color: white;
  border: 3px solid royalblue;
  transition: 0.4s;
  cursor: pointer;
  opacity: 0.8;
  animation: move 6s infinite;
}

div.info:hover {
  border-radius: 7%;
  border: 6px solid royalblue;
  opacity: 1;
}

div.info h2 {
  position: absolute;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: 25%;
  left: 12%;
  z-index: 1;
  color: royalblue;
}

div.info p {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 15%;
  width: 25%;
  color: royalblue;
  font-weight: bold;
  line-height: 200%;
}
div.info button {
  position: absolute;
  z-index: 3;
  top: 65%;
  left: 17%;
  border-radius: 10%;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: royalblue;
  color: white;
  font-size: 15px;
  border: 2px solid royalblue;
  cursor: pointer;
  transition: 0.3s;
}

div.info button:hover {
  background-color: white;
  color: royalblue;
}

div.info img {
  position: absolute;
  right: 2%;
  top: 25%;
  width: 50%;
}

@keyframes move {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-45%, -50%);
  }
  50% {
    transform: translate(-45%, -45%);
  }
  75% {
    transform: translate(-50%, -45%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
