h1.special {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
}

section.joinus {
  min-height: 90.5vh;
  background-color: rgb(78, 77, 77);
  color: white;
  display: flex;
  padding-top: 100px;
  padding: 50px;
}

/* PIERWSZY DIV */
section.joinus div.first {
  background-color: #000;
  text-align: center;
  border: 4px solid white;
}
section.joinus div.first h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 50px;
  font-size: 30px;
  padding-bottom: 35px;
}

section.joinus div.first img {
  padding-bottom: 35px;
}

section.joinus div.first p {
  width: 50%;
  margin: 0 auto;
  font-size: 15px;
}

/* DRUGI DIV */
section.joinus div.second {
  background-color: #000;
  border: 4px solid white;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
section.joinus div.second h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 50px;
  font-size: 30px;
}
section.joinus div.second img {
  width: 80%;
  padding-bottom: 35px;
  padding-top: 35px;
}

section.joinus div.second p {
  width: 50%;
  margin: 0 auto;
  font-size: 15px;
}

/* TRZECI DIV */

section.joinus div.third {
  background-color: #000;
  border: 4px solid white;
  text-align: center;
}
section.joinus div.third h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 50px;
  font-size: 30px;
}
section.joinus div.third img {
  padding-bottom: 35px;
  padding-top: 35px;
  width: 54%;
}

section.joinus div.third p {
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
}
