section.joinus {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
    -34.2deg,
    rgb(252, 226, 230) 50%,
    white 50%,
    rgb(241, 185, 241) 50% 30%
  );
}

section.joinus div.middlecontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 700px;
  width: 1100px;
  box-shadow: 25px 25px 25px gray;
  border: 3px solid darkviolet;
  opacity: 0.8;
  transition: 0.4s;
  animation: move 6s infinite;
}

section.joinus div.middlecontent:hover {
  border-radius: 7%;
  border: 6px solid darkviolet;
  cursor: pointer;
  opacity: 1;
}

section.joinus div.middlecontent img {
  position: absolute;
  top: 18%;
  left: 5%;
  width: 40%;
}

section.joinus div.middlecontent nav {
  position: absolute;
  top: 8%;
  left: 39%;
  font-size: 20px;
}

section.joinus div.middlecontent nav ul {
  display: flex;
  list-style: none;
}

section.joinus div.middlecontent nav ul li {
  list-style: none;
}

section.joinus div.middlecontent nav ul li a {
  display: inline;
  text-decoration: none;
  padding: 20px;
}

section.joinus div.middlecontent nav ul li:nth-of-type(1) a:hover {
  border-bottom: 2px solid darkviolet;
  letter-spacing: 2px;
}

section.joinus div.middlecontent nav ul li:nth-of-type(2) a:hover {
  border-bottom: 2px solid darkviolet;
  letter-spacing: 2px;
}

section.joinus div.middlecontent nav ul li:nth-of-type(3) a:hover {
  border-bottom: 2px solid darkviolet;
  letter-spacing: 2px;
}

section.joinus div.middlecontent nav ul li:nth-of-type(4) a:hover {
  border-bottom: 2px solid darkviolet;
  letter-spacing: 2px;
}

section.joinus div.middlecontent nav ul li:nth-of-type(5) a {
  background-color: darkviolet;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 25px;
  font-weight: bold;
  border-radius: 30%;
  color: white;
  transition: 0.2s;
}

section.joinus div.middlecontent nav ul li:nth-of-type(5) a:hover {
  color: darkviolet;
  background-color: white;
  border: 2px solid darkviolet;
}

section.joinus div.middlecontent div.infosquare {
  position: absolute;
  top: 17%;
  left: 50%;
  color: darkviolet;
  width: 500px;
  height: 500px;
  background-color: white;
  text-align: left;
  padding: 20px;
}

section.joinus div.middlecontent div.infosquare h1 {
  position: absolute;
  width: 204px;
  font-size: 50px;
}
section.joinus div.middlecontent div.infosquare p {
  position: absolute;
  margin-top: 10px;
  line-height: 230%;
  top: 37.5%;
}
section.joinus div.middlecontent div.infosquare button {
  position: absolute;
  top: 60%;
  background-color: darkviolet;
  font-weight: bold;
  border-radius: 30%;
  font-size: 20px;
  padding: 20px;
  border: 1px solid darkviolet;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  color: white;
  margin-top: 60px;
  transition: 0.2s;
}

section.joinus div.middlecontent div.infosquare button:hover {
  color: darkviolet;
  background-color: white;
  border: 2px solid darkviolet;
}
